<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sasquatch Websighting</title>
</head>
<body>
    <h1>Sasquatch Websighting</h1>
    <h2>{{session['full_name']}}</h2>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>

    <h1>Edit this Sighting</h1>
    <form action="/update/sighting/{{sighting['id']}}" method="POST">
        <label for="location">Location: </label>
        <input type="text" name="location" value="{{sighting['location']}}">
        <br>
        {% for message in get_flashed_messages(category_filter="err_location") %}
            <p>{{message}}</p>
        {% endfor %}
        <label for="date_of">Date of Sighting: </label>
        <input type="date" name="date_of" value="{{sighting['date_of_sighting']}}">
        <br>
        {% for message in get_flashed_messages(category_filter="err_date") %}
            <p>{{message}}</p>
        {% endfor %}
        <label for="whappened">What Happened: </label>
        <textarea name="whappened">{{sighting['what_happened']}}</textarea>
        <br>
        {% for message in get_flashed_messages(category_filter="err_happened") %}
            <p>{{message}}</p>
        {% endfor %}
        <label for="nosasq">Number of Sasquatches: </label>
        <input type="number" name="nosasq" value="{{sighting['no_sasq']}}">
        <br>
        {% for message in get_flashed_messages(category_filter="err_sasq") %}
            <p>{{message}}</p>
        {% endfor %}
        <input type="submit" value="Update">
    </form>
</body>
</html>